.location-modal-container {
    background-color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 0%;
    padding: 0;
}

.location-modal-container.open {
    width: 45%;
    padding: 1rem;

}